<%= form_with model: @shift do |form|%>
  <% if form.object.errors.any?%>
     <% form.object.errors.full_messages.each do |msg|%>
      <h3> <%= msg%> </h3>
     <%end%>
  <%end%>
  <div>
    <%= form.label :shift_date%>
    <%= form.date_field :shift_date%>
  </div>
  <div>
    <%= form.label :start_time%>
    <%= form.time_field :start_time%>
  </div>
  <div>
    <%= form.label :finsh_time%>
    <%= form.time_field :finish_time%>
  </div>
  <div>
    <%= form.label :break_length, "Break length (in Minutes)"%>
    <%= form.number_field :break_length%>
  </div>
  <%=form.submit%>
<%end%>