<%= form_with model: @shift do |f|%>
  <div>
    <%= f.label :shift_date%>
    <%= f.date_field :shift_date%>
  </div>
  <div>
    <%= f.label :start_time%>
    <%= f.time_field :start_time%>
  </div>
  <div>
    <%= f.label :finsh_time%>
    <%= f.time_field :finish_time%>
  </div>
  <div>
    <%= f.label :break_length, "Break length (in Minutes)"%>
    <%= f.number_field :break_length%>
  </div>
  <%=f.submit%>
<%end%>